# App
VITE_ENVIRONMENT=development
VITE_CHAIN=testnet
VITE_API=
VITE_APP_ORIGIN=http://localhost:3001
VITE_MY_ORIGIN=http://localhost:3002
VITE_PUBLIC_SITE_ORIGIN=http://localhost:3000

# Privy
VITE_PRIVY_APP_ID=

# Filebase gateway URL
VITE_FILEBASE_GATEWAY_BASE_URL=

# RPC
VITE_BASE_RPC_URL=
